<footer class="footer bg-light py-3 border-top stick-bottom">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <p class="mb-0 text-muted">
     <b class="black"> © major project. ·</b> 
      <a href="#" class="footer-link">Privacy</a> · 
      <a href="#" class="footer-link">Terms</a> · 
    </p>

    <ul class="nav list-unstyled d-flex align-items-center mb-0">
      <li class="me-3 d-flex align-items-center">
        <i class="fa-solid fa-globe me-2"></i>
        <span>English (IN)</span>
      </li>
      <li class="me-3 d-flex align-items-center">
        <i class="fa-solid fa-indian-rupee-sign me-1"></i>
        <span>INR</span>
      </li>
      <li class="me-3"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li class="me-3"><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
  </div>
</footer>

