<% layout('../layouts/boilerplate.ejs') %>

<div class="row mt-5 ">
    <div class="alert alert-danger col-6 offset-3" role="alert">
  <p class="alert-heading"><%= message %></p>
  <p class="text-center">Redirecting in <span id="count">10</span> seconds...</p>
</div>
</div>

<script src="/js/redirect.js"></script>